# Web & API
fastapi
uvicorn
requests

# Data & Math
pandas
numpy
prophet
scikit-learn
sqlalchemy
psycopg2-binary
pytz

# MLOps & Monitoring
mlflow
evidently
xgboost
optuna
python-dotenv

# Frontend
streamlit
