# Data Processing
pandas==2.3.3
numpy==2.4.3
holidays==0.94
pytz

# Machine Learning & Optimization
xgboost==2.0.0 # Note: Ensure this matches your training local version
scikit-learn==1.8.0
optuna==4.8.0
joblib==1.5.3

# Database & Infrastructure
SQLAlchemy==2.0.49
psycopg2-binary==2.9.11
python-dotenv==1.2.2
requests==2.32.5

# Frontend
streamlit==1.55.0
plotly==5.24.1
