# --- CORE WEB & UI ---
streamlit
plotly

# --- DATA MANIPULATION & MATH ---
pandas
numpy
pytz

# --- DATABASE & CONNECTION ---
sqlalchemy
psycopg2-binary
python-dotenv

# --- MACHINE LEARNING & AI ---
xgboost
scikit-learn
joblib
optuna

# --- DATA SOURCES & UTILS ---
requests
holidays
